<template>
  <f7-page name="home">
    <!-- Top Navbar -->
    <f7-navbar large :sliding="false">
      <f7-nav-title sliding>All Products </f7-nav-title>
      <f7-nav-title-large>All Products</f7-nav-title-large>
    </f7-navbar>
    <ProductComponent :products="products"  ></ProductComponent>

  </f7-page>
</template>

<script>
import api from '../js/api.js';
import ProductComponent from '../components/product'
export default {
  
  components: {
    ProductComponent
  },
  async created(){
    const res = await api.getProducts();
    this.products = res.data;
  },
  
  data(){
    return {
      products: []
    }
  },

}
</script>