<template>
  <f7-list media-list>
    <f7-list-item v-for="product of products" :key="product.id">
      <img slot="media" v-if="product.images" :src="product.images[0].thumbnail" width="80" />

      <p>{{product.name}}</p>
      <f7-row>
        <f7-col>{{product.prices.currency_symbol}} {{product.prices.price}}</f7-col>
        <f7-col>
          <f7-segmented raised tag="p">
            <f7-button outline @click="showToast('Product removed from Cart')">-</f7-button>
            <f7-button outline  @click="showToast('Product added to Cart')">+</f7-button>
          </f7-segmented>
        </f7-col>
      </f7-row>
      <span></span>
      <span class="product-description" v-html="product.description || product.short_description"></span>

      <div>
        <f7-badge color="red" v-if="product.average_rating >= 4">Recommended</f7-badge>
        <f7-badge color="orange" v-if="product.review_count >= 1">Popular</f7-badge>
      </div>
    </f7-list-item>
  </f7-list>
</template>


<script>
import routes from "../js/routes.js";

export default {
  name: "productComponent",
  props: ["products"],

  data() {
    return {};
  },
  methods: {
    showToast(msg) {
      this.$f7.toast.show({
        text: msg,
        position: "top",
        closeTimeout: 2000,
      });
    },
  },
  mounted() {
    this.$f7ready((f7) => {
      // Call F7 APIs here
    });
  },
};
</script>

<style>
  .product-description img{
    width: 80px;
    height: auto;
    display: inline-block;
  }

</style>